.full-body{
    margin: 0px 100px;
}
/* working on navbar */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.scl1{
    display: flex;
}
nav a {
    text-decoration: none;
}
.nav-home{
    color: orange;
    padding: 5px;
}
.nav-about{
    color: skyblue;
    padding: 5px;
}
.nav-fclt{
    color: cadetblue;
    padding: 5px;
}
.nav-war{
    color: plum;
    padding: 5px;
}
.nav-contact{
    background-color: orange;
    height: 35px;
    width: 90px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    border-color: transparent;
}

/* Working on body part-1 */

.superman{
    font-family: sans-serif;
}
.power{
    color: orange;
}
/* .empowering{
    font-weight: 900;
} */
.vision{
    color: aqua;
}
.superman{
    display: flex;
    align-items: center;
}
.side-superman{
    display: flex;
    flex-direction: column;
    font-size: 21px;
}
.enroll{
    background-color: black;
    color: white;
    height: 30px;
    width: 90px;
    padding: 5px;
    border-radius: 8px;
}

/* working on standard curriculum */

.standard{
    background-image: url(assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.curriculum, .card-container, .stories{
    font-family: sans-serif;
}
.curriculum{
    display: flex;
    justify-content: center;
    margin: 80px 0px 40px 0px;
    font-size: 2em;
}
.card-container{
    display: flex;
}
.card-1, .card-2, .card-3{
    width: 300px;
    margin: 0px 25px;
    display: inline-block;
    padding: 20px;
    color: #007bff;
    border-radius: 25px;
    font-weight: 500;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

}
.card-1{
    background: linear-gradient(180deg, #e0f2ff, #f9f9ff);
    color: #2296f3;
}
.card-2{
    background: linear-gradient(180deg, #fff2cc, #fef7e0);
    color: #f4a300;
}
.card-3{
    background: linear-gradient(180deg, #f3e7ff, #fdf6ff);
    color: #9a40d3;
}
.card-container h4, p{
    color: black;
}
.para{
    opacity: 70%;
}
.read-1{
    color: #2296f3;
}
.read-2{
    color: orange;
}
.read-3{
    color: blueviolet;
}
.arrow-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.arrow {
  background-color: #ffaa00;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Working on body part 2 grid templete */
.stories{
    background-image: url(assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.our-story{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.grid-area{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas: 
        "box-1 box-1 box-2 box-3"
        "box-1 box-1 box-4 box-5";
}
.story-1-lines{
    position: relative;
    bottom: 40px;
}
.box-1{
    grid-area: box-1;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}
.box-2{
    grid-area: box-2;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}
.box-3{
    grid-area: box-3;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}
.box-31{
    grid-area: box-31;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}
.box-32{
    grid-area: box-32;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}
.box-4{
    grid-area: box-4;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}
.box-5{
    grid-area: box-5;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}
.box-1 img{
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}
.box-2 img{
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}
.box-3 img{
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}
.box-31 img{
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}
.box-32 img{
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}
.box-4 img{
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}
.box-5 img{
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}
.box-1-h{
    font-size: 20px;
    margin-left: 19px;
}
.box-h{
    font-size: 15px;
    margin-left: 10px;
    position: relative;
    bottom: 45px;
}
.box-1-p{
    opacity: 75%;
    margin-left: 19px;
    font-size: 15px;
}
.box-31, .box-32{
    display: none;
}
.story-1-btn{
    background-color: #2296f3;
    color: white;
    padding: 15px;
    border-radius: 40px;
    border-color: transparent;
    position: relative;
    left: 30px;
    bottom: 30px;
}
.story-2-btn{
    background-color: #2dbf54;
    color: white;
    padding: 15px;
    border-radius: 40px;
    border-color: transparent;
    position: relative;
    left: 30px;
    bottom: 30px;
}
.story-3-btn{
    background-color: #443ce5;
    color: white;
    padding: 15px;
    border-radius: 40px;
    border-color: transparent;
    position: relative;
    left: 30px;
    bottom: 30px;
}
.story-4-btn{
    background-color: #add11b;
    color: white;
    padding: 15px;
    border-radius: 40px;
    border-color: transparent;
    position: relative;
    left: 30px;
    bottom: 30px;
}
.story-5-btn{
    background-color: #af27ad;
    color: white;
    padding: 15px;
    border-radius: 40px;
    border-color: transparent;
    position: relative;
    left: 30px;
    bottom: 30px;
}
.View-btn{
    background-color: black;
    color: white;
    height: 30px;
    width: 90px;
    padding: 5px;
    border-radius: 8px;
    display: block;
    margin: 60px auto;
}


/* Footer option */
.foot{
    background-color: #2296f3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    /* margin-left: 30px;
    margin-right: 30px; */
}
.last-link{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 10px;
    
}
.abt, .touch{
    color: white;
}
.last-link a{
    text-decoration: none;
    color: white;
}
.last-kid{
    display: flex;
}
.kids{
    color: white;
    width: 300px;
    margin-left: 30px;
}
.kids-p{
    opacity: 85%;
    font-size: 15px;
    color: white;
}
.last-logo{
    display: flex;
    gap: 10px;
}
.touch{
    margin-right: 30px;
}
.hero-kid1{
    display: none;
}
/* Responsive part */

.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
    /* * {
  margin: 0;
  padding: 0;
    box-sizing: border-box; 
} */
 .full-body{
    margin: 0 40px;
 }
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }
  .hero-kid1{
    display: flex;
  }
  .hamburger {
    display: block;
  }
  .nav-school{
    display: none;
  }
  .nav-contact, .hero-kid2{
    display: none;
  }
  .superman{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .enroll{
    display: block;
    margin: 0 auto;
  }
  .standard, .card-container{
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .curriculum{
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
  }
  .arrow-buttons, .box-1{
    display: none;
  }
    .stories{
        display: flex;
        flex-direction: column;
    }

    .box-31, .box-32{
        display: block;
    }
    .grid-area{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "box-2 box-3"
        "box-31 box-32"
        "box-4 box-5";
        gap: 50px;
        padding: 20px;
    }
    /* .box-2{ grid-area: box-2;}
    .box-3{ grid-area: box-3;}
    .box-4{ grid-area: box-4;}
    .box-5{ grid-area: box-5;} */
    .box-2 {
    grid-area: box-2;
    }
    .box-3 {
    grid-area: box-3;
    }
    .box-31{
        grid-area: box-31;
    }
    .box-32{
        grid-area: box-32;
    }
    .box-4 {
    grid-area: box-4;
    }
    .box-5 {
    grid-area: box-5;
    }
    .box{
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* width: 80%; */
    }
    
.str-btn{
    width: 120px;
    height: 50px;
}

    /* foot */
    .foot{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .kids, .abt, .last-link, .touch{
        margin: 15px 0 0 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .touch{
        margin-bottom: 60px;
    }
}